<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zanzhu.mapper.CommunityMapper" >
  <resultMap id="BaseResultMap" type="com.zanzhu.pojo.Community" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="community_name" property="communityName" jdbcType="VARCHAR" />
    <result column="community_school" property="communitySchool" jdbcType="VARCHAR" />
    <result column="community_intro" property="communityIntro" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, community_name, community_school, community_intro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zanzhu.pojo.CommunityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from community
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from community
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from community
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zanzhu.pojo.CommunityExample" >
    delete from community
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zanzhu.pojo.Community" >
    insert into community (user_id, community_name, community_school, 
      community_intro)
    values (#{userId,jdbcType=INTEGER}, #{communityName,jdbcType=VARCHAR}, #{communitySchool,jdbcType=VARCHAR}, 
      #{communityIntro,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zanzhu.pojo.Community" >
    insert into community
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="communityName != null" >
        community_name,
      </if>
      <if test="communitySchool != null" >
        community_school,
      </if>
      <if test="communityIntro != null" >
        community_intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="communityName != null" >
        #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="communitySchool != null" >
        #{communitySchool,jdbcType=VARCHAR},
      </if>
      <if test="communityIntro != null" >
        #{communityIntro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zanzhu.pojo.CommunityExample" resultType="java.lang.Integer" >
    select count(*) from community
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update community
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.communityName != null" >
        community_name = #{record.communityName,jdbcType=VARCHAR},
      </if>
      <if test="record.communitySchool != null" >
        community_school = #{record.communitySchool,jdbcType=VARCHAR},
      </if>
      <if test="record.communityIntro != null" >
        community_intro = #{record.communityIntro,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update community
    set user_id = #{record.userId,jdbcType=INTEGER},
      community_name = #{record.communityName,jdbcType=VARCHAR},
      community_school = #{record.communitySchool,jdbcType=VARCHAR},
      community_intro = #{record.communityIntro,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zanzhu.pojo.Community" >
    update community
    <set >
      <if test="communityName != null" >
        community_name = #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="communitySchool != null" >
        community_school = #{communitySchool,jdbcType=VARCHAR},
      </if>
      <if test="communityIntro != null" >
        community_intro = #{communityIntro,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zanzhu.pojo.Community" >
    update community
    set community_name = #{communityName,jdbcType=VARCHAR},
      community_school = #{communitySchool,jdbcType=VARCHAR},
      community_intro = #{communityIntro,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>