<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<body>
<div id="footer">
    <div class="footer-rays">
        <div class="inner">
            <!-- Footer Logo - Navigation - Copyrights Start -->
            <div class="foot-navi-coopyrights">
                <div class="footlogo-nav">

                    <!-- Footer Navigation Start -->
                    <div class="footnav">
                        <ul>
                            <li><a href="http://localhost:8080/index">主页</a></li>
                            <li><a href="http://localhost:8080/activity">社团活动</a></li>
                            <li><a href="http://localhost:8080/sponsor">企业赞助</a></li>
                            <li><a href="http://localhost:8080/contact">联系我们</a></li>
                            <li><a href="http://localhost:8080/login">登陆</a></li>
                            <li><a href="http://localhost:8080/register">注册</a></li>
                        </ul>
                    </div>
                    <!-- Footer Navigation End -->
                </div>
                <!-- Footer Copyrights Start -->
                <p class="copyrights"></p>
                <!-- Footer Copyrights End -->
            </div>
            <!-- Footer Logo - Navigation - Copyrights End -->
            <!-- Follow Us - Go to Top Start -->
            <div class="followus">
                <!-- Go to Top Start -->
                <div class="gotop">
                    <a href="#top">&nbsp;</a> <span>Back to Top</span>
                </div>

            </div>
            <!-- Follow Us - Go to Top End -->
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>