<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>活动信息-赞助信息网</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/login.css" rel="stylesheet" type="text/css">
<link href="css/header.css" rel="stylesheet" type="text/css">
<link href="css/footer.css" rel="stylesheet" type="text/css">
</head>

<body>
	<script src="js/jquery-2.1.3.min.js" type="application/javascript"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js" type="application/javascript"></script>
</body>
<div class="out_wrapper">
	<!--导航栏-->
	<div th:include="navi::navi"></div>


	<div class="demo form-bg"
		style="margin-top: 0px; padding: 20px 0; height: 510px">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<form class="form-horizontal" action="/doLogin" method="post">
						<span class="heading">用户登录</span>
						<div class="form-group">
							<input type="text" class="form-control" id="inputEmail3"
								name="name" placeholder="用户ID或电子邮件"> <i
								class="fa fa-user"></i>
						</div>
						<div class="form-group help">
							<input type="password" class="form-control" id="inputPassword3"
								name="password" placeholder="密　码"> <i class="fa fa-lock"></i>
							<a href="#" class="fa fa-question-circle"></a>
						</div>
						<div class="form-group">
							<div class="main-checkbox">
								<input type="checkbox" value="None" id="checkbox1" name="check">
								<label for="checkbox1"></label>
							</div>
							<span class="text">Remember me</span>
							<button type="submit" class="btn btn-default">登录</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Start -->
	<div th:include="footer::#footer" id="footer"></div>

	<!-- Footer End -->

</div>

</html>