<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>校园赞助网</title>
        <!--// Stylesheets //-->
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css/red.css"
              title="styles1" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="css/blue.css"
              title="styles2" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="css/gray.css"
              title="styles3" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="css/orange.css"
              title="styles4" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="css/green.css"
              title="styles5" media="screen" />
        <link rel="alternate stylesheet" type="text/css"
              href="css/orange-red.css" title="styles6" media="screen" />
        <!--// Javascripts //-->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/styleswitch.js"></script>
        <script type="text/javascript" src="js/animatedcollapse.js"></script>
        <script type="text/javascript" src="js/ddsmoothmenu.js"></script>
        <script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
        <script type="text/javascript" src="js/jquery.infinite-carousel.js"></script>
        <script type="text/javascript" src="js/scrolltopcontrol.js"></script>
        <script type="text/javascript" src="js/functions.js"></script>
    </head>
</head>
<body>
<div id="outer_wrapper">
    <!-- Top Bar Start -->
    <div id="top-bar" class="backcolr">
        <div class="inner">
            <!-- Styleswitcher Start -->
            <div class="styles">
                <ul>
                    <li><h6 class="white">选择页面颜色</h6></li>
                    <li><a href="index.html@style=style1" rel="styles1"
                           class="styleswitch red">&nbsp;</a></li>
                    <li><a href="index.html@style=style2" rel="styles2"
                           class="styleswitch blue">&nbsp;</a></li>
                    <li><a href="index.html@style=style3" rel="styles3"
                           class="styleswitch gray">&nbsp;</a></li>
                    <li><a href="index.html@style=style4" rel="styles4"
                           class="styleswitch orange">&nbsp;</a></li>
                    <li><a href="index.html@style=style5" rel="styles5"
                           class="styleswitch green">&nbsp;</a></li>
                    <li><a href="index.html@style=style6" rel="styles6"
                           class="styleswitch orange-red">&nbsp;</a></li>
                </ul>
            </div>
            <!-- Top Bar Text Start-->
            <p class="text"></p>
            <!--Top Bar Text End -->
        </div>
        <div class="clear"></div>
        <!-- Toggle Show Hide Div Start -->
        <div id="jason" class="topwidgets">
            <div class="inner">
                <!-- Widget Placeholder Start -->
                <div class="widget-placeholder">
                    <!-- Our Mission Widget Start -->
                    <div class="widget mission-widget">
                        <h3 class="widget-head white">Our Mission</h3>
                        <ul>
                            <li><a href="#" class="thumb"><img
                                    src="images/mission.jpg" alt="" /></a>
                                <p>
                                    <a href="#" class="bold">Donec ut nibh tellus. Proin erat
                                        urna, luctuseg ementum at, facilisis sed nunc.</a>
                                </p></li>
                            <li><a href="#">Aenean commodo dolor at sapien luctus
                                (05:30)</a></li>
                            <li><a href="#">Sapien luctus non venenatis (19:18)</a></li>
                        </ul>
                    </div>
                    <!-- Our Mission Widget End -->
                </div>
                <!-- Widget Placeholder End -->
                <!-- Widget Placeholder Start -->
                <div class="widget-placeholder">
                    <!-- Recent Posts with Thumbnail Widget Start -->
                    <div class="widget recent-posts-thumbs">
                        <h3 class="widget-head white">Our Community</h3>
                        <ul class="post-thumbs">
                            <li>
                                <div class="thumb">
                                    <a href="#"><img src="images/post1.gif" alt="" ></img></a>
                                </div>
                                <div class="desc">
                                    <a href="#" class="title">Lorem ipsum dolor sit amet,
                                        consect etur adipiscing elit.</a>
                                    <p>Donec ut nibh tellus. Proin erat urna, luct us eget
                                        elementum at, facilisis sed.</p>
                                    <a href="#" class="readmoredark">Read more</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb">
                                    <a href="#"><img src="images/post2.gif" alt="" ></img></a>
                                </div>
                                <div class="desc">
                                    <a href="#" class="title">Consect etur adipiscing elit.</a>
                                    <p>Luctus eget elementum at, facilisis sed unc Donec neque
                                        felis, fringilla.</p>
                                    <a href="#" class="readmoredark">Read more</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb">
                                    <a href="#"><img src="images/post3.gif" alt="" ></img></a>
                                </div>
                                <div class="desc">
                                    <a href="#" class="title">Facilisis sed nunconec neque
                                        felis.</a>
                                    <p>Donec ut nibh tellus. Proin erat urna, luct us eget
                                        elementum at, facilisis sed.</p>
                                    <a href="#" class="readmoredark">Read more</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Recent Posts with Thumbnail Widget End -->
                </div>
                <!-- Widget Placeholder End -->
                <!-- Widget Placeholder Start -->
                <div class="widget-placeholder">
                    <!-- Contact Us with Map Widget Start -->
                    <div class="widget contact-map">
                        <h3 class="widget-head white">Contact Us</h3>
                        <div class="mapframe">
                            <iframe width="100%" height="150" frameborder="0" scrolling="no"
                                    marginheight="0" marginwidth="0"
                                    src=""></iframe>
                        </div>
                        <p class="txt">Need to contact us or planning on making a
                            visit? Just click the button below to send us a note or get
                            directions to our location.</p>
                        <p class="adres">
                            1234 A 12th AB. Lorum Ipsum,<br /> NY, 123456<br /> P:
                            123.456.7891<br />
                        </p>
                        <a href="#" class="button">Get In Touch</a>
                    </div>
                    <!-- Contact Us with Map Widget End -->
                </div>
                <!-- Widget Placeholder End -->
                <div class="clear"></div>
            </div>
        </div>
        <!-- Toggle Show Hide Div End -->
    </div>
    <!-- Header Start -->
    <div id="header">
        <div class="rays">
            <div class="inner">
                <!-- Logo Start -->
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt="" ></img></a>
                </div>
                <!-- Logo End -->
                <div class="right">
                    <!-- Navigation Start -->
                    <div class="navigation">
                        <div id="smoothmenu1" class="ddsmoothmenu">
                            <ul>
                                <li class="current-menu-item"><a href="index.html">主页</a></li>
                                <li><a href="sponsor.html">社团活动</a></li>
                                <li><a href="sermons.html">企业赞助</a></li>
                                <li><a href="contact-us.html">联系我们</a></li>
                                <li><a href="login.html">登陆</a></li>
                                <li><a href="regester.html">注册</a></li>
                                <li><a href="#">页面</a>
                                    <ul class="backcolr">
                                        <li><a href="index.html">主页</a></li>
                                        <li><a href="blog.html">社团活动</a></li>

                                        <li><a href="sermons.html">企业赞助</a></li>

                                        <li><a href="contact-us.html">联系我们</a></li>
                                    </ul></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- Navigation End -->
                    <!-- Search Start -->
                    <div class="search">
                        <a href="#" class="btn">&nbsp;</a>
                        <div class="searchinputs backcolr">
                            <ul>
                                <li class="left"><input name="txtSearch" value="请输入搜索关键字"
                                                        onfocus="if(this.value=='请输入搜索关键字') {this.value='';}"
                                                        onblur="if(this.value=='') {this.value='请输入搜索关键字';}"
                                                        type="text" /></li>
                                <li class="right"><button class="colr">站内搜索</button></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Search End -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Content Start-->
    <div id="registerForm">
            <div id="form_wrap">
                <span>填写注册信息</span>
                <div class="clear"></div>
                <form action="./doRegister">
                    <div class="inputwrapper">
                        <span>社团名字</span>
                    <input type="text" name="name"></input>
                    </div>
                    <div class="inputwrapper">
                        <span>学校名称</span>
                        <input type="text" name="name"></input>
                    </div>
                    <div class="inputwrapper">
                        <span>联系人姓名</span>
                        <input type="text" name="name"></input>
                    </div>
                    <div class="inputwrapper">
                        <span>联系人邮箱</span>
                        <input type="text" name="name"></input>
                    </div><div class="inputwrapper">
                    <span>联系人电话</span>
                    <input type="text" name="name"></input>
                </div>
                    <div class="inputwrapper">
                        <span>联系人性别</span>
                        <input type="text" name="name"></input>
                    </div><div class="inputwrapper">
                    <span>密码</span>
                    <input type="password" name="name"></input>
                </div>
                    <div class="inputwrapper">
                        <span>确认密码</span>
                        <input type="password" name="name"></input>
                    </div>
                    <div class="inputwrapper">
                        <input type="submit" value="提交"></input>
                    </div>


                </form>
            </div>
    </div>
    <!-- Content End-->

</div>
</body>
</html>